<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <a  class="text-light text-decoration-none" href="#"><span id="userEmail" class="px-2"></span>
            <span id="userRole"></span></a>
            <div th:if="${param.loggedinuser}">
                <h3>Invalid username and password.</h3>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <form class="d-flex">
                    <a th:href="@{logout}" class="btn text-light" type="submit">Logout</a>
                </form>
            </div>
        </div>
    </nav>
</div>
