<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<html lang="en" xmlns>
<head>
    <meta charset="UTF-8">
    <title>Welocome</title>
    <link rel="stylesheet" th:href="@{css/all.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="align-content-center mt-5 align-items-center container-fluid text-center vh-100 justify-content-center">
    <h1 class="pt-5 ">Welcome to WebApp</h1>
    <a class="pt-2 fs-4 text-decoration-underline fw-bold text-muted text-decoration-none" th:href="@{/users}">Manage Users</a>

</div>
</body>
</html>